<footer class="footer">
  <div class="footer-container">
    <div class="footer-grid">
      <div>
        <div class="footer-logo">NEX<span>US</span></div>
        <p class="footer-desc">Electrónica de vanguardia con garantía oficial, precios competitivos y soporte técnico experto.</p>
      </div>
      <div class="footer-col">
        <h4>Tienda</h4>
        <ul>
          <li><a routerLink="/productos">Laptops</a></li>
          <li><a routerLink="/productos">Smartphones</a></li>
          <li><a routerLink="/productos">Audio</a></li>
          <li><a routerLink="/productos">Gaming</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Soporte</h4>
        <ul>
          <li><a href="#">Seguimiento</a></li>
          <li><a href="#">Garantía</a></li>
          <li><a href="#">Devoluciones</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contacto</h4>
        <ul>
          <li><a href="#">soporte&#64;nexus.pe</a></li>
          <li><a href="#">+51 54 100 200</a></li>
          <li><a href="#">Arequipa, Perú</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <span>&copy; 2025 NEXUS Electronics. Arequipa, Perú.</span>
      <div class="socials">
        <a href="#">Instagram</a><a href="#">TikTok</a><a href="#">YouTube</a>
      </div>
    </div>
  </div>
</footer>
